<!doctype html>
<html lang="eng">
<head>
  <title>Meal Planner</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    header {
      background-color: #6a9c9e;
      padding: 8px;
    }
    h1 {
        text-align: center;
    }

    ul {
        text-align: center;
        list-style-type: none;
        display: inline;
        color: black;
    }
  </style>
</head>
<body>
  <header>
    <h1> Meal Planner</h1>
    <ul>
      <li>
        <a href="/">My Plan</a>
        <a href="/mylists">My Lists</a>
        <a href="/myrecipes">My Recipes</a>
      </li> <br>
    </ul>
  </header>
  <div class="container">
    <br><br><br>
    {% block body %}{% endblock %}
</div>
</body>

</html>
