<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="../static/css/main.css">
      </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Meal Planner</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="mealplanner.html">My Plan</a></li>
            <li><a href="mylists.html">My Lists</a></li>
            <li><a href="myrecipes.html">My Recipes</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
  </body>
</html>