{% extends "layout.html" %}
{% block body %}
<div class='container'>
    <h1>My Plan</h1>
    <table class='table'> 
      <tr class='table_header' >
        {% for header in headings %}
        <th> {{header}}</th>
        {% endfor %}
      </tr>
        {% for row in data %}
        <tr class= 'table_row'>
          {% for cell in row %}
          <td class = 'table_cell'>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
      
    </table>
    <form class='form-horizontal' method='POST'>
      <div class="form-group">
        <label>Add to Plan: </label><br>
        <label class="col-sm-2 control-label">Meal Name</label>
        <input type='text' class='form-control' name='name' placeholder="Ex. Avocado Toast">
        <br>
        <label class="col-sm-2 control-label">Date</label>
        <select class='form-control' name='date'>
          {% for header in headings %}
          <option> {{header}}</option>
          {% endfor %}
        </select><br>
        <labelclass="col-sm-2 control-label">Meal Time </label>
          <select class='form-control' name='meal'>
            <option value='Breakfast'>Breakfast</option>
            <option value='Lunch'>Lunch</option>
            <option value='Dinner'>Dinner</option>
          </select>
          <br>
        <button type='submit' class='btn' name ='submit' value='submit'>Submit</button>
    </div>
    </form>

  </div>

{% endblock %}