{% extends "layout.html" %}
{% block body %}
  <body>
    <h1>My Plan</h1>
    <table class='table'> 
      <tr class='table_header' >
        {% for header in headings %}
        <th> {{header}}</th>
        {% endfor %}
      </tr>
        {% for row in data %}
        <tr class= 'table_row'>
          {% for cell in row %}
          <td class = 'table_row'>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
      
    </table>
    <form method='POST' action= '/'>
      <label>Meal Name: </label>
      <input type='text' name='mealname'>
      <input type='submit' value='Submit'>
    </form>

  </body>

{% endblock %}