{% extends "layout.html" %}
{% block body %}
  <body>
    <h1>My Plan</h1>
    <table class='table'> 
      <tr class='table_header' >
        {% for header in headings %}
        <th> {{header}}</th>
        {% endfor %}
      </tr>
        {% for row in data %}
        <tr class= 'table_row'>
          {% for cell in row %}
          <td class = 'table_cell'>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
      
    </table>
    <form method='POST'>
      <label>Add to Plan: </label><br>
      <label>Meal: </label>
      <input type='text' name='name'>
      <label>Date: </label>
      <select name='date'>
        {% for header in headings %}
        <option> {{header}}</option>
        {% endfor %}
      </select>
      <label>Meal: </label>
        <select name='meal'>
          <option value='Breakfast'>Breakfast</option>
          <option value='Lunch'>Lunch</option>
          <option value='Dinner'>Dinner</option>
        </select>
      <button type='submit' name ='submit' value='submit'>Submit</button>
    </form>

  </body>

{% endblock %}