{% extends "layout.html" %}
{% block body %}

<div class='container'>
  <div class='floatLeft'>
    <h1>My Grocery List</h1>
    <table class='table'> 
      <tr class='table_header' >
        {% for header in headings %}
        <th> {{header}}</th>
        {% endfor %}
      </tr>
        {% for row in data %}
        <tr class= 'table_row'>
          {% for cell in row %}
          <td class = 'table_row'>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
    </table><br>
    <form method='POST' action= '/mylists'>
      <label>Item: </label>
      <input type='text' name='item'><br>
      <label>Quantity: </label>
      <input type='text' name='qty'><br>
      <label>Store: </label>
      <input type='text' name='store'><br>
      <button type='submit' name='grocery' value='Submit'>Submit</button>
    </form><br>
  </div>
  <div class='floatRight'>
    <h1>My Fridge</h1>
    <table class='table'> 
      <tr class='table_header' >
        {% for header in headings2 %}
        <th> {{header}}</th>
        {% endfor %}
      </tr>
        {% for row in data2 %}
          <tr class= 'table_row'>
            {% for cell in row %}
            <td class = 'table_row'>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tr>
    </table>
    <form method='POST' action= '/mylists'>
      <label>Item: </label>
      <input type='text' name='item'><br>
      <label>Quantity: </label>
      <input type='text' name='qty'><br>
      <button type='submit' name='fridge' value='Submit'>Submit</button>
    </form>
  </div>
</div>
<br><br><br>
{% endblock %}